body{
  background-color: lightblue;
}

.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
#rock img{
  width:300px;
}
#country img{
  width:300px;
}
#jazz img{
  width:300px;
}
#rap img{
  width:300px;
}
#Genres{
  display: flex;
  flex-wrap : wrap;
  justify-content: center;


}
#Genres div{
  border: solid;
  margin: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}
#Header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}